//==========BASE=============
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: $header;
    font-family: $fontFamily;
    font-size: $normalFont;
    background-color: $mainColor;
    color: $textColor;
    transition:all .5; // for light mode 
}
h1,h2,h3{
    color: $headingColor;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}